body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  color: rgb(163, 189, 204);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-image: url('background.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  /* height: 60px; */
}

#nav-logo {
  display: flex;
  justify-self: flex-start;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

#nav-logo:hover {
  cursor: default;
}

#logo-img {
  height: 56px;
  width: 56px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
}

#logo-text {
  font-size: calc(22px + 0.5vw);
  margin-left: 10px;
  color: rgb(142, 193, 223);
}

#nav-buttons {
  width: 260px;
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  padding-right: 20px;
}

#discord-button {
  transition: background-color 0.5s;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
}

#discord-button:hover {
  background-color: rgba(40, 103, 161, 0.514);
  border-radius: 12px;
}

#discord-logo {
  width: auto;
  height: 40px;
  padding: 2px;
  padding-top: 6px;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 800px;
}

#home-mission-statement {
  text-align: center;
  font-size: calc(28px + 0.5vw);
  color: rgb(15, 44, 61);
  background-color: rgba(67, 151, 200, 0.698);
  border: solid 1px black;
  /* border-radius: 10px; */
  width: 75vw;
  padding: 50px;
  /* margin: 5px; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
}

#donate-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(26, 139, 204);
  transition: background-color 0.5s;
  border: solid 1px black;
  border-radius: 12px;
  width: 110px;
  padding: 2px;
}

#donate-button:hover {
  cursor: pointer;
  background-color: rgb(34, 167, 207);
}

#donate-logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

#donate-text {
  font-size: 20px;
  color: black;
}

#server-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-self: flex-end;
  color: rgb(14, 11, 47);
  background-color: rgba(184, 42, 42, 0.883);
  border: solid 1px black;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  font-size: 30px;
}

#rust-logo {
  width: 32px;
  height: auto;
}
